<!--<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <title>Unes Universidade - Quem Somos</title>
</head>

<body style="background-image: url(static/Imagens/fundo2.png);">
    <div class="header">

        <img src="../static/Imagens/logo.png" alt="logo" style="margin: 1% 0% 0% 5%;">
        <a href="../index" style="margin-left:50%">Home</a>
        <a href="../quem_somos">Quem Somos</a>
        <a href="../contato" style="border-right: none">Contato</a>

    </div>

    <div>.</div>-->

    {% extends "base.html" %}

    {% block title %} Unes Universidade - Quem Somos {% endblock %}

    {% block content %}

    <div class="main">
        <div>
            <h1>Quem Somos</h1>

            <p class="main">
                Lorem <b>ipsum dolor</b> sit amet consectetur adipisicing elit. Suscipit maxime iure quibusdam ducimus aperiam quasi praesentium maiores accusantium cum, itaque perspiciatis incidunt, fugit architecto perferendis saepe a quaerat accusamus commodi assumenda et minima eum quas expedita reiciendis? Saepe nobis, obcaecati tenetur cum iure at eius nisi voluptates numquam perspiciatis dolores atque sequi voluptate, assumenda nulla praesentium, ad mollitia totam alias reiciendis? Ipsa excepturi, quasi placeat nisi quidem doloremque doloribus laboriosam laborum, repudiandae fugit natus non, accusantium praesentium dolorem est. Amet ex deleniti quibusdam quas quod possimus ipsum inventore quos porro qui reiciendis vitae quasi, natus error.
            </p>

            <h1>5 Motivos para Estudar</h1>

            <ol>
                <li>Material Sempre Atualizado</li>
                <li>Tablets em Sala de Aula</li>
                <li>Professores Renomados</li>
                <li>Universidade Bem Avaliada</li>
                <li>Ótima Localização</li>
              </ol>

              <hr>

              <h1>Objetivos</h1>

              <p class="main">
                Lorem <b>ipsum dolor</b> sit amet consectetur adipisicing elit. Ullam quas voluptatum, laboriosam dolore neque ut quibusdam saepe eligendi ducimus? Recusandae totam enim aliquid quia iste illum. Doloribus ad facere in, vel exercitationem eveniet deleniti neque alias commodi. Sint quo quidem officiis quod autem natus dolorem libero? Temporibus optio suscipit veritatis quo sint consectetur totam, architecto omnis quis maiores, culpa excepturi perspiciatis, exercitationem ut quasi! Quos nemo asperiores velit eos, distinctio possimus suscipit ducimus at.
              </p>
              
        </div>

        <div>.</div>

        <div class="footer">
            <p>Todos os direitors reservados</p>
        </div>
    </div>
    {% endblock %}

    <style>
            body{
                background-image: url(static/Imagens/fundo2.png);
            }
        </style>